/* Dropdown Button */

.dropbtn {
 
    background-color: #FFFFE0;
    font-weight: 700;
    color:#999900;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 8px #BDB76B, 10px 10px 8px yellow;
    border-radius: 10px;

  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(254,193,81);}
   #home a{
  color: black ;
  }
  